html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 24px;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 32px;
  }
}
