// Lo siguiente son las medidas del diapositivo o sea,
// en grande ("lg").
$alto: 768px;
$ancho: 1024px;
$aspect-ratio-pagina: 1024px / 768px;

@function px-to-rem($pixels) {
  @return $pixels / 32px * 1rem;
}

html {
  font-size: 12px;
}

.pagina {
  @extend .mb-sm-2
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }

  .pagina {
    width: map-get($grid-breakpoints, sm);
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 24px;
  }

  .pagina {
    width: map-get($grid-breakpoints, md);
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 32px;
  }

  .pagina {
    height: $alto;
    width: $ancho;
  }
}
