.contactenos {
  width: 100%;

  &-fondo {
    background-image: url("/assets/images/disenio-y-construccion.png");
    background-size: cover;
    height: 0;
    overflow: hidden;
    padding-top: 768 / 1024 * 100%;
    width: 100%;
  }
}

@include media-breakpoint-up(sm) {
  .contactenos {
    width: map-get($grid-breakpoints, sm);
  }
}
@include media-breakpoint-up(md) {
  .contactenos {
    width: map-get($grid-breakpoints, md);
  }
}
@include media-breakpoint-up(lg) {
  .contactenos {
    width: map-get($grid-breakpoints, lg);
  }
}
