$heroe-aspect-ratio: 1110px / 858px;

.heroe {
  height: auto;
  max-width: map-get($grid-breakpoints, sm);
  max-height: map-get($grid-breakpoints, sm) / $heroe-aspect-ratio;
  width: auto;

  &-imagen {
    height: auto;
    max-width: 100%;
    width: auto;

    &-envoltorio {
      max-width: 100%;
      padding: 13% 5% 0 4%;
    }
  }

  &-texto {
    color: white;
    line-height: 105%;
    text-align: center;
    width: 100%;
  }

  &-texto-grande {
    @extend .heroe-texto;
    font-size: 1rem;
    font-weight: 700;
    padding: 5% 0 2%;
  }

  &-texto-pequeno {
    @extend .heroe-texto;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0 18% 5%;
  }

  &-texto-separador {
    border-top: 0.25em solid white;
    margin: 2% 0;
    width: 7.5em;
    @extend .mx-auto;
  }

  &-texto-fondo {
    background-color: $anaranjado;
    margin: 0 0 0 8%;
    opacity: 0.7;
    width: 53%;
  }

  // From: https://love2dev.com/blog/responsive-hero-background-opacity/
  &::before {
    background-image: url("/assets/images/tl-471x360.jpg");
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    // Cambié alto y ancho a porcentaje
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.8;
  }
}

@include media-breakpoint-up(sm) {
  .heroe {
    height: map-get($grid-breakpoints, sm) / $heroe-aspect-ratio;
    max-height: map-get($grid-breakpoints, sm) / $heroe-aspect-ratio;
    max-width: map-get($grid-breakpoints, sm);
    width: map-get($grid-breakpoints, sm);

    &::before {
      max-height: map-get($grid-breakpoints, sm) / $heroe-aspect-ratio;
      max-width: map-get($grid-breakpoints, sm);
    }

    &-texto-grande {
      font-size: 1.5rem;
    }

    &-texto-pequeno {
      font-size: 1rem;
    }
  }
}
@include media-breakpoint-up(md) {
  .heroe {
    height: map-get($grid-breakpoints, md) / $heroe-aspect-ratio;
    max-height: map-get($grid-breakpoints, md) / $heroe-aspect-ratio;
    max-width: map-get($grid-breakpoints, md);
    width: map-get($grid-breakpoints, md);

    &::before {
      max-height: map-get($grid-breakpoints, md) / $heroe-aspect-ratio;
      max-width: map-get($grid-breakpoints, md);
    }

    &-texto-grande {
      font-size: 2rem;
    }

    &-texto-pequeno {
      font-size: 1.5rem;
    }
  }
}
@include media-breakpoint-up(lg) {
  .heroe {
    height: map-get($grid-breakpoints, lg) / $heroe-aspect-ratio;
    max-height: map-get($grid-breakpoints, lg) / $heroe-aspect-ratio;
    max-width: map-get($grid-breakpoints, lg);
    width: map-get($grid-breakpoints, lg);

    &::before {
      max-height: map-get($grid-breakpoints, lg) / $heroe-aspect-ratio;
      max-width: map-get($grid-breakpoints, lg);
    }

    &-texto-grande {
      font-size: 2.5rem;
    }

    &-texto-pequeno {
      font-size: 1.75rem;
    }
  }
}

// Porque la imagen llega a sus dimensiones máximas antes de los 1,200 pixeles,
// para nada sirve este breakpoint.
@include media-breakpoint-up(xl) {
  .heroe {
    height: 858px;
    width: 1110px;

    &::before {
      height: 858px;
      width: 1110px;
    }

    &-texto-grande {
      font-size: 3rem;
    }

    &-texto-pequeno {
      font-size: 2rem;
    }
  }
}
