$ancho-col-izquierda: 353px;
$ancho-mision: 912px;
$alto-mision: 768px;
$mision-aspect-ratio: $ancho-mision / $alto-mision;
$ancho-col-izquierda-porcentaje: $ancho-col-izquierda / $ancho-mision * 100%;

.mision {
  height: 100%;
  position: relative;

  @include media-breakpoint-down(xs) {
    .col-izquierda {
      width: 100%;
      text-align: center;
    }
  }

  .col-izquierda {
    font-family: $headings-font-family;
    font-size: pt-to-rem(42.3pt);
    font-weight: 800;
  }

  .col-derecha {
    text-align: center;
    font-size: pt-to-rem(21.1pt);
    line-height: 1.4;
  }

  @include media-breakpoint-up(sm) {
    .columna {
      height: 100%;
      width: $ancho-col-izquierda-porcentaje;
      left: 0;
      top: 0;
      position: absolute;
    }

    .columna-imagen {
      @include imagen-fondo-escalable("/assets/images/objeto-slide3-353x768.png");
    }

    .col-derecha {
      font-size: pt-to-rem(21.1pt);
      line-height: 1.4;
      width: 100% - $ancho-col-izquierda-porcentaje;
    }

    .col-izquierda {
      width: $ancho-col-izquierda-porcentaje;
      color: white;
    }

    .cuerpo {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@include media-breakpoint-up(sm) {
  .mision {
    height: map-get($container-max-widths, sm) / $mision-aspect-ratio;
    width: map-get($container-max-widths, sm);
  }
}

@include media-breakpoint-up(md) {
  .mision {
    height: map-get($container-max-widths, md) / $mision-aspect-ratio;
    width: map-get($container-max-widths, md);
  }
}

@include media-breakpoint-up(lg) {
  .mision {
    height: map-get($container-max-widths, lg) / $mision-aspect-ratio;
    width: map-get($container-max-widths, lg);
  }
}
